<html ng-app="two1App">
<head>
  <base href="/" />
  <link href="/styles/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/styles/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
    <link href="/styles/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="js/AjaxJSLoader.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
  <script src="/bower_components/angular-inview/angular-inview.js"></script>
  <!-- share this scripts below -->
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ddf4fd18-8689-49ad-8898-f9707e2e85bf", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body ng-controller="PostsController">
  <div id="content" class="container">
    <main id="right" class="article-stream">
      <!-- <p>    Click <a ng-click="loadPosts()">here</a> to load data.</p> -->
      <article ng-repeat="post in posts track by $index" repeat-done="updateShareThis();" class="article">
        <h1 class="title article__title">
          <a href="/{{getSlug(post.url)}}" in-view="changeUrl('{{post.title}}', '{{getSlug(post.url)}}', $index, $inview, $inviewpart)" in-view-offset="0">{{post.title}}</a>
        </h1>
        <div class="post article__body">
          <div ng-bind-html="post.summary"></div>
          <div ng-include="'shared/_sharethis.html'"></div>
        </div>
      </article>
      <div in-view="loadNext($inview);" in-view-offset="600" id="loading" class="loader"></div>
    </main>

    <aside id="left" class="sidebar">
      <div ng-repeat="item in titles track by $index" class="article-list-item">
        <a href="/{{getSlug(item.url)}}" id="sidebar-{{getSlug(item.url)}}" ng-class="slugClass(getSlug(item.url))" class="sidebar-links" ng-click="loadPost(getSlug(item.url));">
          {{item.title}}
        </a>
      </div>
    </aside>
  </div>
  <div ng-include="'shared/_ga.html'"></div>
</body>
</html>