<!-- Include sidebar -->
<div class="container-fluid row" ng-style={{vm.sidebarBackground}}>
    <div ng-class="{queueopen:vm.sidebar_open}" id="my-app">
        <ng-include src="'views/partials/sidebar.html'"></ng-include>

        <DIV class="view" id="view-itemwell">
            <main id="right_view" class="article-stream responsive" in-view-container ng-click="vm.body_click()">
                <article ng-repeat="post in vm.feed.full_articles track by $index" repeat-done="vm.updateShareThis();" class="article" ng-init="url = vm.getSlug(post.url)" in-view="vm.changeUrl(post.title, url, $index, $inview, $inviewpart,post.index)" in-view-offset="50">
                    <h2 class="title article__title">
                        {{post.title}}
                    </h2>
                    <div class="post article__body">
                        <div ng-bind-html="post.description"></div>
                    </div>
                    <div class="cust_disqus" ng-if="vm.discussion">
                        <div class="share_icon" ng-click="vm.load_disqus(post.index,post.title,url)"><a>Comment</a>
                        </div>
                    </div>
                    <span class="share_this">
                            <div ng-include="'views/others/_sharethis.html'"></div>
                        </span>
                    <!-- <div in-view=vm.addVisble($index)> -->
                        <!-- <div ng-if="vm.visiblePart==$index"> -->
                            <!-- {{vm.visiblePart}}{{$index}} -->
                            <div class="google-medium-ad" ng-if="vm.mediumScreen">
                                <div google-adsense small="false"></div>
                            </div>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <div google-ads></div>
                        <!-- </div> -->
                    <!-- </div> -->


                </article>
                <!-- Load next article as soon as user is 600 px above this div -->
                <div in-view="vm.loadNextArticle($inview);" in-view-offset="-700"></div>
                <!-- <div in-view="vm.loadNextArticle($inview);" in-view-offset="-50"></div> -->
                <div in-view="vm.loadNextArticle($inview);" in-view-offset="-20" id="loading" class="loader"></div>
            </main>

        </DIV>
    </div>
</div>
