<div class="mainheader navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">

        <button class="button_sidebar" type="button" ng-click="vm.sidebar_open = !vm.sidebar_open;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="logo">
            <a href="#;">
                <img src="images/sarus_logo4.png" alt="Sarus" title="Sarus">
            </a>
        </div>

    </div>

</div>
