<div class="navbar navbar-default navbar-fixed-top mainheader" role="navigation">
    <div class="navbar-header">

        <button class="button_sidebar" type="button" ng-click="vm.sidebar_open = !vm.sidebar_open; vm.disqus_sidebar = false;vm.body_option_sidebar = false;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">
            <img src="/images/logo1.png" alt="Home" class="small-logo">
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse custom_menu">
        <ul class="nav navbar-nav custom_nav">
            <li class="menu-1230 first"><a href="http://www.srijan.net/solutions/">SOLUTIONS</a>
            </li>
            <li class="menu-9990"><a href="http://www.srijan.net/work/" title="">CLIENTS</a>
            </li>
            <li class="menu-1392"><a href="http://www.srijan.net/hub/" title="">Hub</a>
            </li>
            <li class="menu-9988"><a href="http://www.srijan.net/process/" title="">PROCESSES</a>
            </li>
            <li class="menu-9992 last"><a href="http://www.srijan.net/careers/" title="">CAREERS</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

</div>
