*, :before, :after {
    -moz-box-sizing: border-box;
    -web-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: PTSerif, serif;
    font-size: 16px;
    line-height: 1.5;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}
body a {
    color: #168dd9;
    text-decoration: none
}
body a:hover {
    text-decoration: underline;
    cursor: pointer;
}
img {
    display: inline-block;
    height: auto;
    max-width: 1000px;
    max-width: 100%;
}
.container-fluid.row {
    margin: 0px;
}
.mainheader {
    height: 10%;
    border-bottom: 1px solid #eee;
    background: white !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}
.logo {
    margin-right: -100%;
    margin-left: 10.45%;
}
.logo img.small-logo {
    padding-right: 10%;
    height: 24px;
    width: 98px;
}
.custom_menu ul li:nth-child(4), .custom_menu ul li:nth-child(5) {
    display: inherit !important;
}
.custom_menu ul li a {
    font-size: 135.5%;
    color: #727272;
}
.custom_menu {
    width: 100% !important;
}
.custom_menu ul {
    padding-left: 3%;
}
.custom_menu ul li {
    /*padding: 1em 1em 1em .7em;*/
    
    border-right: 1px solid #e5e5e5;
    height: 100%;
}
.custom_menu ul .first {
    border-left: 1px solid #e5e5e5;
    padding-right: .8em;
    padding-left: .8em;
}
.button_sidebar {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin: 8px 1px 8px 20px;
    background-color: #eee;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #fff;
}
.button_sidebar:hover {
    background-color: #7487a8;
    border-color: #ddd;
}
.button_sidebar:hover .icon-bar {
    background-color: #ddd;
}
.button_sidebar .icon-bar {
    background-color: white;
}
.button_sidebar.icon-bar+.icon-bar {
    margin-top: 4px;
}
.button_sidebar .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 3px;
}
/*
end header
 */

#my-app {
    padding-top: 60px;
    overflow: hidden;
}
#view-queue {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    height: 650px;
    left: -240px;
    width: 240px;
    float: left;
    position: fixed;
    z-index: 2;
}
#view-itemWell, #view-queue {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: all 500ms ease-out
}
#my-app.queueOpen #view-itemWell, #my-app.queueOpen #view-queue {
    transform: translateX(240px);
    -webkit-transform: translateX(240px)
}
#view-itemwell {
    position: relative;
    float: right;
    width: 100%;
}
.sidebar {
    left: 0px;
}
.sidebar-links {
    display: block;
    min-height: 65px;
    padding: 1.5em 0px 1.5em 0em;
    border-bottom: 1px solid #E0E0E0;
}
.sidebar .article-list-item {
    padding: 0 1rem 0;
    color: #666666;
    line-height: 1.2em;
}
.sidebar .article-list-item:first-child a {
    border-radius: 10px 0 0;
}
.sidebar .article-list-item a {
    color: #666666;
    font-weight: 600;
    background-color: none;
}
.sidebar .article-list-item a.is-active {
    color: #66cccc;
    background-color: none;
}
/**
 * Article-stream
 */

.article-stream {
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    margin: 0px 5px 5px 1px;
    width: 100%;
}
.article {
    padding-bottom: 60px;
    border-bottom: 1px solid #E0E0E0;
    word-wrap: break-word;
    word-break: break-word;
}
.article__body .field-name-field-highlight h2 {
    color: #666;
    font-size: 100% !important;
    line-height: 1.27em;
}
.article__body .field-name-body p, .article__body .field-name-body p strong, .article__body .field-name-body div, .article__body .field-name-body strong {
    color: #666;
    line-height: 1.3;
}
.article__body .field-name-body {
    margin-bottom: 2rem;
}
.article__body {
    display: inline-block;
}
.article__body .st_sharethis_large, .article__body .st_facebook_large, .article__body .st_twitter_large, .article__body .st_linkedin_large, .article__body .st_pinterest_large, .article__body .st_email_large, .article__body .st_fblike_large, .article__body .st_plusone_large {
    display: inline-block;
    float: left;
}
.cust_disqus {
    min-height: 40px;
}
.cust_disqus .share_icon, .cust_disqus .share_this {
    float: left;
    margin: 10px;
}
.share_icon a {
    float: left;
    background: url("../../images/icon_shares.png") 0 0 no-repeat;
    height: 32px;
    width: 32px;
    text-indent: -9999px;
}
.comments {
    min-width: 270px;
    position: fixed;
    z-index: 1028;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #FFF;
    height: 100%;
    width: 50%;
    top: 0px;
    left: -600px;
    bottom: 0px;
}
.comments .article_body {
    position: relative;
    background-color: #FFF;
}
.kaia_page {
    width: 90%;
    margin: 0px auto;
    max-width: 750px;
}
.comments_x {
    float: right;
    margin: 10px 5px;
}
.comments_inner {
    margin-top: 0px;
}
.article_padding {
    padding-top: 60px;
    padding-bottom: 40px;
}
.align_center {
    text-align: center;
}
.sidebar-open .comments {
    /*
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
    transition: all 800ms ease-out
*/
    
    left: 0px;
    display: block;
}
.sidebar-close .comments {
    left: 0px;
    /*transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    transition: all 800ms ease-out*/
    
    display: none;
}
.comment_heading {
    margin-bottom: 20px;
}
#disqus_thread {
    width: 99%;
    border: 1px solid #eee;
    padding: 10px;
    min-height: 100px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.removeBullets {
    list-style-type: none;
}
.menuCollapse {
    width: 100%;
    height: 1000px;
    opacity: 0.8;
    z-index: +1;
    position: absolute;
    background-color: black;
}