<!--
Social share buttons those appear below posts
Comment out the ones not required
-->

<!-- social buttons begin -->
<!-- <span class='st_sharethis_large' displayText='ShareThis'></span>
 --><span class='st_facebook_large' displayText='Facebook' ng-if=" vm.facebook"></span>
<span class='st_twitter_large' displayText='Tweet' ng-if=" vm.twitter"></span>
<span class='st_linkedin_large' displayText='LinkedIn' ng-if=" vm.linkedin"></span>
<!-- <span class='st_pinterest_large' displayText='Pinterest'></span> -->
<!-- <span class='st_email_large' displayText='Email'></span>
 -->
<!--  <span class='st_fblike_large' displayText='Facebook Like'></span>
<span class='st_plusone_large' displayText='Google +1'></span>
 --><!-- <span class='st_reddit_large' displayText='Reddit'></span> -->
<!-- social buttons ends -->
