<div class="navbar navbar-default navbar-fixed-top mainheader" role="navigation">
    <div class="navbar-header">
        <button class="button_sidebar" type="button" ng-click="vm.sidebar_open = !vm.sidebar_open; vm.disqus_sidebar = false;vm.body_option_sidebar = false;">
            <!--             <span class="sr-only">Toggle navigation</span> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">
            <img src={{vm.logoImage}} alt="Home" class="small-logo" ng-style={{vm.logoImageCss}}>
        </a>
        <!--  <a class="right" href="" ng-click='vm.menuCollapse = !vm.menuCollapse'>
        MENU
        </a> -->
       <!--  <a slide-toggle="#der" class="right">
        Menu
        </a>
        <div class="menuCollapse slideable" duration=".35s" id="der" ng-if="">
            <p>Bespoke aesthetic Bushwick craft beer. Qui aesthetic butcher, cardigan ex scenester Neutra American Apparel mumblecore.</p>
            <p>Ethical adipisicing before they sold out, sriracha Thundercats cardigan dolor deep v placeat. Flannel tattooed meggings direct trade banh mi tousled sriracha. Portland VHS ut dreamcatcher. Butcher eu irony, Banksy leggings eiusmod Pinterest hashtag Etsy asymmetrical lo-fi Helvetica quis incididunt adipisicing. YOLO cliche minim mlkshk dreamcatcher excepteur, Austin McSweeney's.</p>
            <p>Coded @ Kinfolk Studios in Williamsburg, Brooklyn, 2013.</p>
            <a slide-toggle="#der" class="" >Menu</a> -->
    </div>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<!--     <div class="collapse navbar-collapse navbar-ex1-collapse custom_menu" ng-style='vm.headerBackground'>
        <ul class="nav navbar-nav custom_nav left">
            <li class="menu-1230 first"><a href="http://www.srijan.net/solutions/">SOLUTIONS</a>
            </li>
            <li class="menu-9990"><a href="http://www.srijan.net/work/" title="">CLIENTS</a>
            </li>
            <li class="menu-1392"><a href="http://www.srijan.net/hub/" title="">Hub</a>
            </li>
            <li class="menu-9988"><a href="http://www.srijan.net/process/" title="">PROCESSES</a>
            </li>
            <li class="menu-9992 last"><a href="http://www.srijan.net/careers/" title="">CAREERS</a>
            </li>
        </ul>
        
    </div> -->
<!-- /.navbar-collapse -->

</div>
