<html ng-app="two1App">
<head>
	<style>
		#fixed {
		    height: 400px;
		    overflow: auto;
		}
	</style>
	<base href="/" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.js"></script>
	<script src="js/app.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/controllers.js"></script>
	<script src="/bower_components/angular-inview/angular-inview.js"></script>
	<script src='/bower_components/ngInfiniteScroll/ng-infinite-scroll.js'></script>
	<script>
		app.directive('spy', function() {
		  return {
		    restrict: "A",
		    require: "^scrollSpy",
		    link: function(scope, elem, attrs, affix) {
		      return affix.addSpy({
		        id: attrs.spy,
		        "in": function() {
		          return elem.addClass('current');
		        },
		        out: function() {
		          return elem.removeClass('current');
		        }
		      });
		    }
		  };
		});
	</script>
</head>
<body ng-controller="PostsController">
 <div>
	  
	<!-- <p>    Click <a ng-click="loadPosts()">here</a> to load data.</p> -->
		<div ng-repeat="post in posts">
			<h1><a href="/{{post.url}}" in-view="changeUrl('{{post.url}}')">{{post.title}}</a></h1>
			<div ng-bind-html="post.summary"></div>
		</div>
<div in-view="loadNext();" in-view-offset="100">Loading more..</div>
</div>

</body>
</html>