body {
	background-color: #212121;
}
#fixed {
    height: 400px;
    overflow: auto;
}

.title a:link {color:#DF4F14;}      /* unvisited link */
.title a:visited {color:#DF4F14;}  /* visited link */
.title a:hover {color:#91330D;}  /* mouse over link */

.post {
	background-color: #DEDEDE;
	borer: 1px solid #212121;
	min-height: 600px;
	color: #212121;
	margin:10px;
	padding:10px;
}
#loading {
	color: #91330D;	
	background-image: url("/images/loading.gif");
	background-repeat:no-repeat;
	height: 50px;
}