*, :before, :after {
    -moz-box-sizing: border-box;
    -web-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding-top: 51px;
}
a:hover {
    cursor: pointer;
}
img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.mainheader {
    background-color: #000 !important;
    border-bottom: 3px solid rgba(196, 194, 196, .9);
    box-shadow: 0 5px 5px rgba(223, 222, 224, 1);
}
.logo {
    float: left;
}
#right.article-stream {
    margin-bottom: 10px;
    overflow-x: hidden;
    padding-right: 0.5em !important;
    background: #ffffff;
    border-radius: 0 10px 10px 0;
}
/******Sidebar****************/

.sidebar {
    padding-top: 20px;
    background: #ffffff;
    border-radius: 10px 0 0 10px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.sidebar-links {
    display: block;
    padding: 1em 0px 1em 1em;
    border-bottom: 1px solid #E0E0E0;
}
.sidebar .article-list-item {
    /*font-family: Source Sans Pro, Scada;*/
    font-size: 12pt;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    padding: 0 1rem 0 0;
    color: #666666;
    /*font-size: 1.725rem;*/
    line-height: 1.2em;
}
.sidebar .article-list-item:first-child a {
    border-radius: 10px 0 0;
}
.sidebar .article-list-item a {
    color: #666666;
    background-color: #fff;
}
.sidebar .article-list-item a.is-active {
    color: #66cccc;
    background-color: #ffffff;
}
/******************************/

/*MOBILE SCREENS*/

@media (min-width: 20px) {
    .wrapper_main {
        float: right;
        width: 100%;
        position: relative;
    }
    .wrapper_sidebar {
        height: 95%;
        float: left;
        width: 0%;
        position: fixed;
    }
    .article__title  a {
        font-size: 50pt;
        font-family: franklin-gothic-urw, sans-serif;
        font-variant: normal;
        font-weight: 600;
    }
    .article__body .field-name-field-highlight h2 {
        font-size: 45pt;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 400;
        color: #666;
    }
    .article__body .field-name-body p, .article__body .field-name-body p strong, .article__body .field-name-body div, .article__body .field-name-body strong {
        /*margin-bottom: 0;*/
        font-family: franklin-gothic-urw, sans-serif;
        font-size: 40pt;
        color: #666;
        line-height: 1.3;
    }
    .article__body .field-name-body {
        margin-bottom: 1.3rem;
    }
    .article__body {
        display: inline-block;
    }
    .article__body .st_sharethis_large, .article__body .st_facebook_large, .article__body .st_twitter_large, .article__body .st_linkedin_large, .article__body .st_pinterest_large, .article__body .st_email_large, .article__body .st_fblike_large, .article__body .st_plusone_large {
        display: inline-block;
        float: left;
    }
}
@media (min-width: 768px) {
    /*col-sm*/
    .wrapper_main {
        float: right;
        width: 100%;
        position: relative;
    }
    .wrapper_sidebar {
        height: 95%;
        float: left;
        width: 0%;
        position: fixed;
    }
    .article__title > a {
        font-size: 50pt;
        font-family: franklin-gothic-urw, sans-serif;
        font-variant: normal;
        font-weight: 600;
    }
    .article__body .field-name-field-highlight h2 {
        font-size: 45pt;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 400;
        color: #666;
    }
    .article__body .field-name-body p, .article__body .field-name-body p strong, .article__body .field-name-body div, .article__body .field-name-body strong {
        /*margin-bottom: 0;*/
        font-family: franklin-gothic-urw, sans-serif;
        font-size: 40pt;
        color: #666;
        line-height: 1.3;
    }
    .article__body .field-name-body {
        margin-bottom: 1.3rem;
    }
    .article__body {
        display: inline-block;
    }
    .article__body .st_sharethis_large, .article__body .st_facebook_large, .article__body .st_twitter_large, .article__body .st_linkedin_large, .article__body .st_pinterest_large, .article__body .st_email_large, .article__body .st_fblike_large, .article__body .st_plusone_large {
        display: inline-block;
        float: left;
    }
}
/* MEDIUM SCREENS*/

@media (min-width: 992px) {
    /*col-md*/
    .wrapper_main {
        float: right;
        width: 80%;
        position: relative;
    }
    .wrapper_sidebar {
        height: 95%;
        float: left;
        width: 20%;
        position: fixed;
    }
    .article__title  a {
        font-size: 27pt;
        font-family: time-icons;
        font-family: franklin-gothic-urw, sans-serif;
        font-variant: normal;
        font-weight: 600;
    }
    .article__body .field-name-field-highlight h2 {
        font-size: 23pt;
        font-family: time-icons;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 400;
        color: #666;
    }
    .article__body .field-name-body p, .article__body .field-name-body p strong, .article__body .field-name-body div, .article__body .field-name-body strong {
        /*margin-bottom: 0;*/
        font-family: time-icons;
        font-family: franklin-gothic-urw, sans-serif;
        font-size: 19pt;
        color: #666;
        line-height: 1.3;
    }
    .article__body .field-name-body {
        margin-bottom: 1.3rem;
    }
    .article__body {
        display: inline-block;
    }
    .article__body .st_sharethis_large, .article__body .st_facebook_large, .article__body .st_twitter_large, .article__body .st_linkedin_large, .article__body .st_pinterest_large, .article__body .st_email_large, .article__body .st_fblike_large, .article__body .st_plusone_large {
        display: inline-block;
        float: left;
    }
}
/* lARGE SCREEN*/

@media (min-width: 1200px) {
    /*col-lg*/
    .wrapper_main {
        float: right;
        width: 75%;
        position: relative;
    }
    .wrapper_sidebar {
        height: 95%;
        float: left;
        width: 25%;
        position: fixed;
    }
    .article__title a {
        font-size: 20pt;
        font-family: franklin-gothic-urw, sans-serif;
        font-variant: normal;
        font-weight: 600;
    }
    .article__body .field-name-field-highlight h2 {
        font-size: 17.5pt;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 400;
        color: #666;
    }
    .article__body .field-name-body p, .article__body .field-name-body p strong, .article__body .field-name-body div, .article__body .field-name-body strong {
        /*margin-bottom: 0;*/
        font-family: franklin-gothic-urw, sans-serif;
        font-size: 15pt;
        color: #666;
        line-height: 1.3;
    }
    .article__body .field-name-body {
        margin-bottom: 1.3rem;
    }
    .article__body {
        display: inline-block;
    }
    .article__body .st_sharethis_large, .article__body .st_facebook_large, .article__body .st_twitter_large, .article__body .st_linkedin_large, .article__body .st_pinterest_large, .article__body .st_email_large, .article__body .st_fblike_large, .article__body .st_plusone_large {
        display: inline-block;
        float: left;
    }
}
