*, :before, :after {
-moz-box-sizing: border-box;
-web-box-sizing: border-box;
box-sizing:border-box;
}
body {
    padding-top: 51px;
    font-size: 20px;
    font-family: Source Sans Pro, Scada;
}
a {
    text-decoration: none;
}
.mainheader {
    background-color: #000 !important;
    border-bottom: 3px solid rgba(196, 194, 196, .9);
    box-shadow: 0 5px 5px rgba(223, 222, 224, 1);
}
.logo {
    float: left;
}
.sidebar {
    padding-top: 20px;
    background: #ffffff;
    border-radius: 10px 0 0 10px;
    height: 87.5%;
}
.sidebar .article-list-item {
    font-family: Source Sans Pro, Scada;
    font-weight: bold;
    padding: 0 1rem 0 0;
    color: #666666;
    font-size: 1.125rem;
    line-height: 1.2em;
}
.sidebar .article-list-item:first-child a {
    border-radius: 10px 0 0;
}
.sidebar .article-list-item a {
    color: #666666;
    background-color: #fff;
}
.sidebar .article-list-item a.is-active {
    color: #66cccc;
    background-color: #ffffff;
}

#right.article-stream {
background: #ffffff;
border-radius: 0 10px 10px 0;
overflow-x: hidden;
}
.article-stream {
    padding-left: 2em !important;
    padding-right: 1em !important;
}
.article__body .field-name-body p, .article__body .field-name-body p strong, .article__body .field-name-body div, .article__body .field-name-body strong {
    /*margin-bottom: 0;*/
    font-size: 1.125rem;
    /*font-weight: normal;*/
    color: #666;
    line-height: 1.3;
}
.article__body .field-name-body {
margin-bottom: 1.3rem;
}

.article__body {
    display: inline-block;
}
.article__body .st_sharethis_large, .article__body .st_facebook_large, .article__body .st_twitter_large, .article__body .st_linkedin_large, .article__body .st_pinterest_large, .article__body .st_email_large, .article__body .st_fblike_large, .article__body .st_plusone_large {
    display: inline-block;
    float: left;
}

.article__body .field-name-field-highlight h2 {
    font-size: 0.9em;
    font-weight: 600;
    color: #666;
}


/*
.s
/*#content.container {
    margin: 80px auto 0;
    width: 96%;
    font-family: Source Sans Pro, Scada;
    box-shadow: -4px 2px 2px rgba(223, 222, 224, 0.5);
    border-radius: 10px;
    background: #fff;
}
#content.container #right.article-stream {
    background: #ffffff;
    border-radius: 0 10px 10px 0;
    overflow-x: hidden;
}
#content.container h1.title.article__title {
    font-size: 27px;
    font-family: Source Sans Pro, Scada;
    font-weight: bold;
    color: #66cccc;
    line-height: 30px;
}
#content.container h1.title.article__title a {
    color: #66cccc;
    font-size: 1.75rem;
    line-height: 1;
    font-family: Source Sans Pro, Scada;
}
#content.container .sidebar {
    background: #ffffff;
    border-radius: 10px 0 0 10px;
    height: 87.5%;
}
#content.container .sidebar .article-list-item {
    font-family: Source Sans Pro, Scada;
    font-weight: bold;
    padding: 0 1rem 0 0;
    color: #666666;
    font-size: 1.125rem;
    line-height: 1.2em;
}
#content.container .sidebar .article-list-item:first-child a {
    border-radius: 10px 0 0;
}
#content.container .sidebar .article-list-item a {
    color: #666666;
    background-color: #fff;
}
#content.container .sidebar .article-list-item a.is-active {
    color: #66cccc;
    background-color: #ffffff;
}
.container .article-stream {
    padding-left: 2em !important;
    padding-right: 1em !important;
}
.article__body .field-name-body p, .article__body .field-name-body p strong, .article__body .field-name-body div, .article__body .field-name-body strong {
    /*margin-bottom: 0;*/

/*    font-size: 1.125rem;
    /*font-weight: normal;*/

/*    color: #666;
    line-height: 1.3;
}
*/

/*.article__body .field-name-body {
    margin-bottom: 1.3rem;
}*/

/*.article__body {
    display: inline-block;
}
.article__body .st_sharethis_large, .article__body .st_facebook_large, .article__body .st_twitter_large, .article__body .st_linkedin_large, .article__body .st_pinterest_large, .article__body .st_email_large, .article__body .st_fblike_large, .article__body .st_plusone_large {
    display: inline-block;
    float: left;
}
.article__body .st_plusone_large div {
    bottom: -6px !important;
}
.article__body .st_fblike_large span {
    bottom: 0 !important;
}
.article__body .field-name-field-highlight h2 {
    font-size: 0.9em;
    font-weight: 600;
    color: #666;
    margin-bottom: 1em;
}
*/
